%article.canvas
  %h2#registryName
  %p#eventDate Event Date:
  %p.sorting
    %strong Sort By:
    %select
      %option{:value => "category" } Category
      %option{:value => "price_low" } Prices Low to High
      %option{:value => "price_high" } Prices High to Low
      %option{:value => "top_rated" } Top Rated
      %option{:value => "quantity_high" } Quantity Needed High to Low
      %option{:value => "quantity_low" } Quantity Needed Low to High
  %ul#registryList
      